{% extends 'base.html' %}


{% block contet %}
    <form action="" method="post">
        <div class="text-center">
            <img src="{{ url_for('static', filename='images/login.png') }}" width="100" alt="">
            <h3>{{ response.title }}</h3>
        </div>
        {% include 'user/fields_form.html' %}
        <div class="d-grid gap-2">
            {{ form.submit(class="btn btn-secondary btn-sm btn-block") }}
        </div>
        <div class="d-grid gap-2 text-center mt-2">
            <strong>Don't have an account?</strong>
            <a class="btn btn-primary btn-sm" href="{{ url_for('user.user_register') }}">Register</a>
        </div>
    </form>
{% endblock %}
